* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid black;
}

/**
* NAME AND NAV
*/

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 80px;
    background: linear-gradient(darkgreen 0%,forestgreen 30%);
}

header .name {
    margin: 10px;
}

header .name h1 {
    font-size: 300%;
    font-variant-caps: small-caps;
    font-weight: normal;
}

nav {
    display: flex;
    justify-content: flex-end;
    margin: 5px;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 15px;
    font-size: 200%;
}

/**
* ABOUT ME
*/

.about {
    background-color: goldenrod;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    height: 60vh
}

.about h2 {
    flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
    align-self: flex-start;
    position: sticky;
    top: 10px
}

.about p {
    text-indent: 20px;
    line-height: 20px;
}

.about figure {
    justify-self: flex-end;
}

/**
* WORK EXAMPLES
*/

.work {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.work h2 {
    flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
}

.work ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.work ul li {
    list-style-type: none;
    flex-grow: 1;
    border: 2px solid black;
}

.work ul li#favorite {
    flex-grow: 2;
}

/**
* CONTACT ME
*/

footer {
    background-color: forestgreen;
}

/* Add @media aspects for the site */

@media screen and (max-width:810px) {
    
}