:root {
    --primary-color: blue;
    --secondary-color: forestgreen;
    --accent-color: red;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* border: 1px solid black; */
}

/**
* NAME AND NAV
*/

/* TODO: Change header to fixed. */

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 5px solid whitesmoke;
    background: linear-gradient(darkgreen 0%,forestgreen 30%);
}

header .name {
    margin: 10px;
}

header .name h1 {
    font-size: 300%;
    font-variant-caps: small-caps;
    font-weight: normal;
}

nav {
    display: flex;
    margin: 5px;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 15px;
    font-size: 150%;
    margin-top: 30px;
}
/* TODO: Change color from red */
nav a:hover {
    color: red;
}

/**
* ABOUT ME
* Mostly blocked out
* TODO: Add specific margins and designs
*/

.about {
    background-color: goldenrod;
    display: flex;
    padding-top: 20px;
    height: 100vh;
}

.about div {
    background-color: brown;
    flex-basis: 25vw;
}

.about h2 {
    text-align: center;
    align-self: flex-start;
    position: sticky;
    top: 20px;
    background-color: red;
}

.about section {
    text-indent: 20px;
    line-height: 20px;
    background-color: blue;
}

.about p+p {
    padding-top: 10px;
}

.about figure {
    justify-self: flex-end;
    background-color: pink;
    text-align:center;
}

/**
* WORK EXAMPLES
*/

.work {
    background-color: cornflowerblue;
    display: flex;
    padding-top: 20px;
    height: 100vh;
}

.work div {
    background-color: sienna;
    flex-basis: 25vw;
}

.work h2 {
    text-align: center;
    position: sticky;
    top: 10px;
    background-color: red;
}

div.workboxes {
    background: linear-gradient(red, rebeccapurple);
    display: flex;
    flex-wrap: wrap;
}

/**
* CONTACT ME
*/

footer {
    background-color: forestgreen;
}

/* Attempts at making a "return to top of page" button */

.return {
    position: none;
    left: 100px;
    bottom: 100px;
    visibility: none;
}

/**
* Tablet Version
*/

@media screen and (max-width:992px) {
    /* Temporary Coloring for Testing */
    header {
        background: deeppink;
    }
    header {
        flex-direction: column;
        justify-content: flex-start;
    }
    nav,
    nav a {
        flex-direction: row;
        margin: 0;
        justify-content: center;
    }
}

/**
* Mobile Version
*/

@media screen and (max-width:768px) {
    /* Temporary Coloring for Testing */
    header {
        background: aqua;
    }
    header {
        flex-direction: column;
        justify-content: flex-start;
    }
    nav,
    nav a {
        flex-direction: column;
        margin: 0;
        align-items: center;
    }
}