:root {
    --primary-color: blue;
    --body-color: goldenrod;
    --side-color: sienna;
    --accent-color: red;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    /* border: 1px solid black; */
}

/**
* TITLE - not finished
*/

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: linear-gradient(darkgreen 0%,forestgreen 30%);
}

header .name {
    margin: 10px;
}

header .name h1 {
    font-size: 300%;
    font-variant-caps: small-caps;
    font-weight: normal;
}

/**
* NAV - not finished 
*/

nav {
    display: flex;
    margin: 5px;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 15px;
    font-size: 150%;
    margin-top: 30px;
}
/* TODO: Change color from red */
nav a:hover {
    color: red;
}

/**
* HERO IMAGE -not finished
*/

.hero {
    background-image: url(https://placekitten.com/2000/200);
    background-position: top right 50%;
    width: 100%;
    height: 200px;
}

/**
* SIDEBARS
* All sidebars are functionally the same, and the rulesets are written such that
* They will adjust to the size of the content in the rest of the flex container.
* 
* The construction of the sidebars is a div with a single h2 inside. It is crucial
* that the .work and .about sections have display:flex; on them. This lets the div
* be as long as the longest content in their section, so that the much smaller h2
* section can scroll along with the screen.
*/

.side {
    background-color: var(--side-color);
    flex-shrink: 0;
    width: 300px;
}

.side h2 {
    align-self: flex-start;
    background-color: var(--side-color);
    text-align: right;
    
    /* Scrolling Declarations */
    position: sticky;
    top: 20px;
    
    /* Spacing Declarations */
    border-radius: 10px;
    border-right: 5px solid black;
    margin-right: 10px;
    margin-top: 5%;
    padding: 10px 10px 50px 0px;
}

/**
* ABOUT ME
* This contains mainly only visual rules like body color and spacing.
* Can add font rules into this section if want finer control over the
* text body.
*/

.about {
    background-color: var(--body-color);
    display: flex;
}

.about section {
    line-height: 1.6;
    margin: 2% 3%;
    text-indent: 20px;
}

.about p+p {
    padding-top: 10px;
}

/** 
* ABOUT ME - FIGURE AND CAPTION
* The only complex thing about this is the placemenet of the caption's border
* box, which I want to be flush with the interior wall of the image's border.
*/

.about figure {
    margin: 1%;
    text-align:center;
}

.about img {
    border: 10px solid black;
    border-radius: 40px;
    padding: 5px;
}

.about figcaption {
    /* Aesthetic Only Declarations */
    background-color: var(--body-color);
    border: 5px solid black;
    border-radius: 10px;

    /* Placement Declarations */
    margin: 0 auto;
    max-width: 80%;
    padding: 5px 20px;
    position: relative;
    top: -14px;
}

/**
* WORK EXAMPLES - mostly done
* Add 100px of extra to Fig1
* Add 50px of extra to Fig2
*/

.work {
    background-color: cornflowerblue;
    display: flex;
}

.workboxes {
    background: linear-gradient(red, rebeccapurple);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2% 5%;
}

.card {
    background-image: url(https://placekitten.com/350);
    background-position: bottom 0 left 0;
    border: 10px solid black;
    margin: 10px 0;
    width: 40%;
    min-height: 200px;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    line-height: 1;
}

.card#favorite {
    width: 90%;
    min-height: 300px;
    height: 45vh;
    background-image: url(https://placekitten.com/700);
    background-position: bottom 0 left 0;
}

.card section {
    /* border: 5px solid black; */
    background-color: black;
    color: white;
    margin: 0 auto 0 0;
    position: relative;
    bottom: 20px;
    line-height: 1.1;
    padding: 2px 25px 5px 5px;
}

.card h3{
    font-size: 180%;
}

.card p {
    font-style: italic;
}

/**
* CONTACT ME - not finished
*/

.contact {
    background-color: forestgreen;
    display: flex;
}

/* Actual Footer */
/* not even started */


/**
* Tablet Version - mostly done - need to ensure later additions work
*/

@media screen and (max-width:992px) {
    .side {
        width: 180px;
    }
    header {
        flex-direction: column;
        justify-content: flex-start;
    }
    nav,
    nav a {
        flex-direction: row;
        margin: 0;
        justify-content: center;
    }

    .card {
        width: 90%;
    }
}

/**
* Mobile Version - mostly done, need to make sure contact works
*/

@media screen and (max-width:768px) {
    .side {
        width: 100%;
    }
    
    .side h2 {
        /* Zeroing things out */
        padding: 0;
        border: 0;
        margin: 0;

        /* Re-defining new styles */
        width: 80%;
        text-align: left;
        padding: 10px;
        border-bottom: 5px solid black;
        margin: 10px 10px 10px 10px;
    }

    header {
        flex-direction: column;
        justify-content: flex-start;
    }

    nav,
    nav a {
        flex-direction: row;
        margin: 0;
        align-items: center;
        font-size: 100%
    }

    .about,
    .work,
    .contact {
        flex-direction: column;
    }
}